//
   Created by Ahmed on 4/6/2016.
extends main
block head
    include /heads/head.jade
    block extra-head
block navigation
    include /navigations/navigation.jade
block content
block footer
    include /footers/footer.jade
