//
   Created by Ahmed on 4/6/2016.
doctype html
html
   head
      block head
   body#page-top.index
      block navigation
      block content
      block footer
      // jQuery
      script(src='/javascript/theme/jquery.js')
      // Bootstrap Core JavaScript
      script(src='/javascript/theme/bootstrap.min.js')
      // Plugin JavaScript
      script(src='/javascript/lib/jquery.easing.min.js')
      // Custom Theme JavaScript
      script(src='/javascript/theme/freelancer.js')