//
   Created by Ahmed on 3/6/2016.

extends layout
block content
   div.container
      h1 #{chat.title}
      h3 Members
      each member in members
         p >> #{member.firstName + ' ' + member.lastName + ' aka ' + member.nickName}
   h3 Thread
   div#chatEntries
      each message in messages
         div.message
            p #{message.user.nickName} : #{message.content}
   br
   p
   div#chatControls
      input(type='text')#messageInput
      button#submit Send