//
   Created by Ahmed on 3/23/2016.
extends layout
block extraHeader
    script(src="/javascript/lib/socket.io.js")
    script(src="/javascript/lib/easeljs-NEXT.min.js")
    script(src="/javascript/lib/tweenjs-NEXT.min.js")
    script(src="/javascript/lib/ScaleBitmap.js")
    script(src="/javascript/game/animation.js")
    script(src="/javascript/game/client-game-socket.js")
    script(src="/javascript/game/user-input-handler.js")
    script(src="/javascript/game/utils.js")
    script.
        window.onload = function () {
            main('#{socketUrl}');
        }
block content
    br
    br
    div.container
        div.row
            div#col-sm-12
                h3#world-name ????
                h3#gameSocketStatus Disconnected
                div#chatControls
                    input(type='text' autofocus)#messageInput
                    button#submit(onclick="sendMessage()") Send
                canvas.img-responsive(style="border:1px solid #000000;")#pokemonCanvas.col-sm-12