extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/',method='post')
    label(for='userId') ID:
      input(id='userId',type='text',value='',placeholder='be frank you faggot',name='userId')
    input(type='submit',value='Continue')
