doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src = '/javascript/lib/jquery.min.js')
    block extraHeader
  body
    if user
      button(class="btn", onclick="window.location='/profile/"+user.id+"'").
        MyProfile
      span(style="padding-left:20px")
      button(class="btn", onclick="window.location='/game'").
        Game
     else
       button(class="btn", onclick="window.location='/'").
         Login
    block content
