doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src = '/javascripts/jquery.min.js')
    if messages
      script(src="/javascripts/socket.io.js")
      script(src="/javascripts/socketclient.js")
      script(src="/javascripts/addnewmember.js")
      script(src="/javascripts/game/game.js")
      script(src="/javascripts/game/requestAnimationFrame.js")
      script(src="/javascripts/game/Keys.js")
      script(src="/javascripts/game/Player.js")
    if user
      script(src="/javascripts/addnewconvo.js")
  body
    if user
      button(class="btn", onclick="window.location='/chats'").
        MyChats
      button(class="btn", onclick="addNewConversation()").
        +
      span(style="padding-left:20px")
      button(class="btn", onclick="window.location='/profile/"+user.id+"'").
        MyProfile
     else
       button(class="btn", onclick="window.location='/'").
         Login
    block content
