//
   Created by Ahmed on 3/7/2016.

doctype html
html
   head
      title Chat
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/javascripts/socket.io.js")
      script(src="/javascripts/socketclient.js")
   body
      div.container
         h1 #{chat.title}
         h3 Members
         each member in members
            p >> #{member.firstName + ' ' + member.lastName+' aka '+member.nickName}
         h3 Thread
         div#chatEntries
            each message in messages
               p User#{message.user.nickName} said: #{message.content}
         br
         p
         div#chatControls
            input(type='text')#messageInput
            button#submit Send