//
                                 Created by Ahmed on 3/23/2016.
extends game-layout
block extra-head
   script(src="/javascript/lib/socket.io.js")
   script(src="/javascript/lib/easeljs-NEXT.min.js")
   script(src="/javascript/lib/tweenjs-NEXT.min.js")
   script(src="/javascript/lib/ScaleBitmap.js")
   script(src="/javascript/game/animation.js")
   script(src="/javascript/game/client-game-socket.js")
   script(src="/javascript/game/user-input-handler.js")
   script(src="/javascript/game/utils.js")
   link(href='/stylesheets/theme/animate.min.css',rel='stylesheet prefetch')
   link(href='/stylesheets/style.css',rel='stylesheet', type='text/css')
   script.
      window.onload = function () {
          main('#{socketUrl}');
      }
block content
   //Server Message Modal
   div#serverModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
     div.modal-content
       div.modal-header
         button.close(type='button', data-dismiss='modal' href='/login' ) ×
         h4.modal-title Message from SmallWorld
       div.modal-body
         p#serverMessage nothingness
       div.modal-footer
         a.btn.btn-default(type='button', data-dismiss='modal', href='/login') Close

   //Body
   div
      h3.text-center
         div#world-name Loading...
      hr.star-primary
      p.text-center#gameSocketStatus (connecting)
   row
      div.col-sm-9
         canvas.img-responsive(style="border:1px solid #000000;")#pokemonCanvas
      div.col-sm-3
         div.panel.panel-primary
            .panel-heading
               span.glyphicon.glyphicon-comment
               |  Chat History
               .btn-group.pull-right
            .panel-body
               ul.chat
                  //li.left.clearfix
                  //   span.chat-img.pull-left
                  //      img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
                  //   .chat-body.clearfix
                  //      .header
                  //         strong.primary-font Sa3bolla
                  //         small.pull-right.text-muted
                  //            span.glyphicon.glyphicon-time
                  //            | 12 mins ago
                  //      p
                  //         | hey man
                  //li.right.clearfix
                  //   span.chat-img.pull-right
                  //      img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
                  //   .chat-body.clearfix
                  //      .header
                  //         small.text-muted
                  //            span.glyphicon.glyphicon-time
                  //            | 13 mins ago
                  //         strong.pull-right.primary-font Huda
                  //      p
                  //         | yayyy eshta3'alet :D
            .panel-footer
               .input-group
                  input#messageInput.form-control.input-sm(placeholder='Type your message here...',type='text' autofocus)
                  span.input-group-btn
                     button.form-controlbtn.btn-warning.btn-sm#submit(onclick="sendMessage()")
                        | Send