// Created by Ahmed on 4/6/2016.

// Footer
footer.text-center
   .footer-above
      .container
         .row
            .footer-col.col-md-4
               h3 Location
               p
                  | B11
                  br
                  | Alexandria, Egypt
            .footer-col.col-md-4
               h3 Contact Me
               ul.list-inline
                  li
                     a.btn-social.btn-outline(href='https://www.facebook.com/ahsaab')
                        i.fa.fa-fw.fa-facebook
                  li
                     a.btn-social.btn-outline(href='https://plus.google.com/106643569013016804604')
                        i.fa.fa-fw.fa-google-plus
                  li
                     a.btn-social.btn-outline(href='https://twitter.com/ahsaab1')
                        i.fa.fa-fw.fa-twitter
                  li
                     a.btn-social.btn-outline(href='https://eg.linkedin.com/in/ahmed-saab-b22842a2')
                        i.fa.fa-fw.fa-linkedin
            .footer-col.col-md-4
               h3 About SmallWorld
               p
                  | Small world is an open-source project created by Ahmed Saab -
                  a(href='https://github.com/ahmesaab/ChatAppNode/tree/GameBranch') View on Github
                  | .
   .footer-below
      .container
         .row
            .col-lg-12
               | Copyright © SmallWorld 2016